#Backend
PORT=3000
SHOW_ENV=
PRINT_LOGS=

# Database configuration
DB_TYPE=database
DB_HOST=localhost
DB_PORT=1234
DB_USER=database
DB_NAME=database
DB_PASSWORD=password
DB_LOGS=false

#Email
USER_EMAIL=
PASS_AUTH=

# JWT configuration
ACTIVE_JWT=
JWT_SECRET=
JWT_TIME_EXPIRE=